<mat-form-field appearance="fill">
    <mat-label>{{field.viewValue}}</mat-label>

    <mat-chip-list #chipList>
        <mat-chip *ngFor="let term of terms" removable="true" (removed)="remove(term)">
            {{term}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New sdfsdf..." [matChipInputFor]="chipList" matInput
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
            (matChipInputTokenEnd)="add($event)" [formControl]="termController" [errorStateMatcher]="errorMatcher">
    </mat-chip-list>

    <mat-hint *ngIf="termController.hasError('__required')">This field takes multiple values, but at least one is req.</mat-hint>

    <mat-error *ngIf="termController.hasError('email') && !termController.hasError('__required')">
        Invalid value for an email.
    </mat-error>
    <mat-error *ngIf="termController.hasError('pattern')" [ngSwitch]="field.inputValueType">
        <p *ngSwitchCase="InputValueType.INT">Invalid value, this field has to be an integer number without space.
        </p>
        <p *ngSwitchCase="InputValueType.FLOAT">Invalid value for a number without space.</p>
        <p *ngSwitchCase="InputValueType.PHONE">Invalid value for a phone number without space.</p>
        <p *ngSwitchDefault></p>
    </mat-error>
</mat-form-field>
