<div class="container">

    <ng-template [ngIf]="isLoading" [ngIfElse]="container">
        <div class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <ng-template #container>
        <ng-template [ngIf]="isLoadingFailed" [ngIfElse]="form">
            <h3> Loading failure..</h3>
        </ng-template>

        <ng-template #form>
            <form [formGroup]="formGroup" #ngForm="ngForm" (ngSubmit)="onSubmit()">

                <div class="sections-container">
                    <div class="section-l">


                        <div>
                            <ng-template [ngIf]="bookToEdit?.imgUri" [ngIfElse]="placeHolder">
                                <img [src]="bookToEdit.imgUri" width="128" height="150">
                            </ng-template>

                            <ng-template #placeHolder>
                                <img src="assets/img/BooksImgs/placeHolder.png" width="128" height="150">
                            </ng-template>
                        </div>
                        <div>
                            <button mat-raised-button color="primary">
                                Change Image
                            </button>
                        </div>

                    </div>
                    <div class="section-r">
                        <div class="input-feilds-container">
                            <mat-form-field appearance="standard" class="_grow">
                                <mat-label for="title">Title</mat-label>
                                <input id="title" matInput type="text" formControlName="title">
                                <mat-error *ngIf="allFormControls.title.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div class=" input-feilds-container">
                            <mat-form-field appearance="fill">
                                <mat-label for="pages">Nr of Pages</mat-label>
                                <input id="pages" matInput type="text" formControlName="pages">
                                <mat-error *ngIf="allFormControls.pages.hasError('required')">
                                    This field is required
                                </mat-error>
                                <mat-error *ngIf="allFormControls.pages.hasError('pattern')">
                                    Invalid number
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label for="chapters">Nr of Chapters</mat-label>
                                <input id="chapters" matInput type="text" formControlName="chapters">
                                <mat-error *ngIf="allFormControls.chapters.hasError('required')">
                                    This field is required
                                </mat-error>
                                <mat-error *ngIf="allFormControls.chapters.hasError('pattern')">
                                    Invalid number
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label for="price">Price</mat-label>
                                <input id="price" matInput type="text" formControlName="price">
                                <mat-error *ngIf="allFormControls.price.hasError('required')">
                                    This field is required
                                </mat-error>
                                <mat-error *ngIf="allFormControls.price.hasError('pattern')">
                                    Invalid number
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div class=" input-feilds-container">
                            <mat-form-field appearance="outline" class="_grow">
                                <mat-label for="description">Description</mat-label>
                                <textarea id="description" matInput type="text" formControlName="description" rows="4"
                                    cols="50"></textarea>
                                <mat-error *ngIf="allFormControls.description.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div formGroupName="storage" class=" input-feilds-container ">
                            <mat-form-field appearance="fill">
                                <mat-label for="quantity">Quantity total</mat-label>
                                <input id="quantity" matInput type="text" formControlName="quantity">
                                <mat-error *ngIf="allFormControls.storage.controls.quantity.hasError('required')">
                                    This field is required
                                </mat-error>
                                <mat-error *ngIf="allFormControls.storage.controls.quantity.hasError('pattern')">
                                    Invalid number
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label for="borrowedQuantity">Borrowed Quantity</mat-label>
                                <input id="borrowedQuantity" matInput type="text" formControlName="borrowedQuantity"
                                    [readonly]="true">
                            </mat-form-field>
                        </div>


                        <div  *ngIf="authorsSelectOptionPayLoad">
                            <app-shared-select [payload]="authorsSelectOptionPayLoad" [isRequiredFormField]="true">
                            </app-shared-select>
                            <mat-error  *ngIf="ngForm.submitted && allFormControls.allAuthors.hasError('__errMsg')">
                                {{allFormControls?.allAuthors?.errors['__errMsg']}}
                            </mat-error>

                        </div>





                        <div class="buttuns-container">

                            <button mat-stroked-button color="primary" (click)='goBack()' >Cancel</button>

                            <button mat-raised-button  color="primary" type="submit" [disabled]="formGroup.pristine">{{submitLabel}}</button>



                        </div>
                    </div>

                </div>


            </form>

        </ng-template>
    </ng-template>
</div>