<div class="container mat-elevation-z8">
  <div class="filter-field">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="filterInputPlaceHolder">
    </mat-form-field>
  </div>

  <mat-table #table matSort [dataSource]="dataSource">

    <ng-container *ngFor="let col of displayedColumns; " [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="colStyling && colStyling[col]"> {{col}}
      </mat-header-cell>
      <!-- since "colStyling" is optional we had to check if its null inside [ngStyle] = "colStyling && colStyling[col]"-->
      <mat-cell *matCellDef="let element ;  let i = index;" [ngStyle]="colStyling && colStyling[col]">


        <ng-container [ngSwitch]="element[col]._kind">

          <div *ngSwitchCase="'CHIP_LIST'">
            <ng-container *ngTemplateOutlet="chipList"></ng-container>
          </div>
          <div *ngSwitchCase="'INDEX'">
            <ng-container *ngTemplateOutlet="ndx"></ng-container>
          </div>

          <div *ngSwitchCase="'IMAGE'">
            <ng-container *ngTemplateOutlet="image"></ng-container>
          </div>

          <div *ngSwitchCase="'BUTTON'">
            <ng-container *ngTemplateOutlet="btn"></ng-container>
          </div>

          <div *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="justText"></ng-container>
          </div>

        </ng-container>


        <!-- For elements of this structure    -->
        <!-- type sharedTableCellChiplist = { _kind?: sharedTableCellKind.CHIP_LIST, arr: [{ viewValue: any, routerLink: string }] } -->
        <ng-template #chipList>
          <mat-chip-list>

            <div>
              <mat-chip *ngFor="let _chip of element[col].arr" [routerLink]="[_chip.routerLink]">{{_chip.viewValue}}
              </mat-chip>
            </div>

          </mat-chip-list>
        </ng-template>


        <!-- For elements of this structure    -->
        <!-- type sharedTableCellImg = { _kind?: sharedTableCellKind.IMAGE, alt: any, src: string, width: string, height: string, routerLink?: string } -->

        <ng-template #image>
          <img [src]="element[col].src" [alt]="element[col].alt" [width]="element[col].width"
            [height]="element[col].height" />
        </ng-template>

        <!-- For elements of this structure    -->
        <!-- type sharedTableCellButton = { _kind?: sharedTableCellKind.BUTTON, viewValue: any , routerLink?: string} -->
        <ng-template #btn>
          <button mat-raised-button color="primary" (click)='delete(element["id"].representValue)'> JFT </button>
        </ng-template>


        <!-- For elements of this structure    -->
        <ng-template #justText>
          <span  [ngClass]="{'hyperlink':element[col].routerLink}" [routerLink]="[element[col].routerLink]"> {{element[col].viewValue}} </span>
        </ng-template>


        <ng-template #ndx>
          <span > {{dataSource.filteredData.indexOf(element)+1}} </span>
        </ng-template>



      </mat-cell>



    </ng-container><!-- end of let col of displayedColumns -->


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator fixed [length]="dataSource?.filteredData?.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]" class="mat-paginator-sticky">
  </mat-paginator>

</div>