<div class="container" [formGroup] = "payload?.parentForm">


    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="filter by ..."
                [formControl]="filterController">
        </mat-form-field>

        <section class="checkbox-list">
            <mat-checkbox *ngFor="let option of filteredOptionsObs$ | async ; let i = index" [formControl] = "option.formControllerBoolean">
                <span> {{option.viewValue.fst}} |
                    <small> {{option.viewValue.snd}}</small></span>
                <mat-divider></mat-divider>
            </mat-checkbox>
        </section>
    </div>



    <mat-chip-list >
        <mat-chip *ngFor="let option of selectedOptions" removable="true" (removed)="changeFormControllerValue(option)">
            <span> {{option.viewValue.fst}} |
                <small> {{option.viewValue.snd}}</small></span>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <span style="margin: 40px 0 0 40px; color: grey;" *ngIf="payload?.formArray?.hasError('__errMsg') ">
            {{payload?.formArray?.errors['__errMsg']}}
        </span>


    </mat-chip-list>




    
    



</div>