<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="( cardsLayout | async )?.gridListCols" rowHeight="350px">


    <mat-grid-tile [colspan]="(cardsLayout | async)?.booksTable.cols"
      [rowspan]="(cardsLayout | async)?.booksTable.rows">
      <mat-card class="dashboard-card" >
        <mat-card-content class="dashboard-card-content"  >
          <app-books-table [mode]="showBooksTableMode"></app-books-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(cardsLayout | async)?.info.cols"
      [rowspan]="(cardsLayout | async)?.info.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{(cardsLayout | async)?.info.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

<app-notifications></app-notifications>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(cardsLayout | async)?.todo1.cols"
      [rowspan]="(cardsLayout | async)?.todo1.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{(cardsLayout | async)?.todo1.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(cardsLayout | async)?.todo2.cols"
      [rowspan]="(cardsLayout | async)?.todo2.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{(cardsLayout | async)?.todo2.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>
</div>


<!-- 

    <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

 -->