<ng-template [ngIf]="reader" [ngIfElse]="loadingFailed">

    <div class="container">

        <div class="edit-button-container">
            <button mat-raised-button color="primary" [routerLink]="['/editreader/' , reader.id]">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div class="sections-container">

            <div class="section-l">
                <div class="round-image-container">
                    <img  [src]="reader.imgUri" width="128" height="150">
                </div>
                <button mat-raised-button color="primary" (click)="showBTRform(true)" [disabled]="BTRformVisible">
                    Issue a borrow <mat-icon> playlist_add_check</mat-icon>
                </button>
            </div>

            <div class="section-r">
                <div class="reader-name-section">
                    <h2 style="margin-bottom: 0;"><b>{{reader.name}}</b></h2>
                    <p >{{reader.costumerId}}</p>
                </div>
            </div>

        </div>

        <div class="sections-container">

            <div class="section-l">
                <ng-template [ngIf]="BTRformVisible">
                    <app-books-to-readers-form [id]="reader.id" [MODE]="1" (cancelRequest)="showBTRform($event)">
                    </app-books-to-readers-form>
                </ng-template>
            </div>

            <div class="section-r">
                <h3>Personal Info:</h3>
                <div class="personal-info-container">
                    <div class="personal-info-col">
                        <div class="personal-info-field">
                            <p>Email: </p>
                            <p class="add-padding-l">{{reader.email}}</p>
                        </div>
                        <div class="personal-info-field">
                            <p>Phone: </p>
                            <p class="add-padding-l">{{reader.phone || '-'}}</p>
                        </div>
                    </div>

                    <div class="personal-info-col">
                        <div class="personal-info-field">
                            <p>Address: </p>
                            <p class="add-padding-l">{{reader.address || '-'}}</p>
                        </div>
                    </div>

                </div>
            </div>
            

        </div>
        <ng-container *ngTemplateOutlet="booksToReaders"></ng-container>

    </div>




</ng-template>

<ng-template #booksToReaders>
    <h3> Borrowed Books: </h3>
    <app-reader-btr-table [readerId]="reader.id" [booksToReaders]="reader.booksToReaders"></app-reader-btr-table>
</ng-template>

<ng-template #loadingFailed>
    <h3> Loading failure..</h3>
</ng-template>